body{

	font-family: "Segoe UI";
	font-size: 24px;
	background: #e7e7e7;
	}
.nav{

	background: #658cc7;
	padding:30px;
	font-size: 25px;
	text-transform: uppercase;

}


.thick{
font-weight: bolder;

}


.thin{

	font-weight:100;
}
.logo{


	color:white;
}
.border-status{

	background: #4770ad;
	height:10px;
	/*transition: all 10ms ease;*/
}

.border-status2{

	background:#cd3636;
	height:10px;
	position: relative;
	top: -10px;
	width:10%;
}


/*$light-blue:#658cc7;
$blue:#4770ad;
$dark-blue:#3d5f91;
*/
.main textarea {
	display: none;
	background: #e7e7e7;
	width: 100%;
	margin:20px 0px;
	font-family: "cOURIER";
	font-size: 16px;
	padding: 30px;
	height: 70vh;
}

.main textarea::active{


	border:none;
	box-shadow: none;
}
.side{
	background:#d6d6d6;
	font-size: 10px;
	margin-top: 20px;
}
.side ul li {

	list-style: none;
	cursor: pointer;


}
.side ul li:hover{
	background:#d9d9d9;

}

.hide-home{

	padding-top: 80px;
	}
	.small{

		font-size: 12px;
		text-transform: uppercase;
	}

	.smaller{

		font-size: 10px;
		text-transform: uppercase;
	}
.node{

	background:#e7e7e7;
	display: inline;
	padding: 5px;
	font-size: 10px;
	text-transform: none;
	border-radius: 30px;
	display: none;
}
.name{
	background:#e2e2e2;
	padding:2px;
	border-radius: 20px;
}